{
	"endOfLine": "lf",
	"plugins": ["@prettier/plugin-xml"],
	"bracketSameLine": true,
	"singleAttributePerLine": false,
	"printWidth": 120,
	"tabWidth": 4,
	"trailingComma": "es5",
	"useTabs": true,
	"semi": false,
	"quoteProps": "consistent",
	"experimentalTernaries": true,
	"xmlQuoteAttributes": "double",
	"xmlSelfClosingSpace": true,
	"xmlSortAttributesByKey": false,
	"xmlWhitespaceSensitivity": "strict"
}
