// Styles for the canvas

svg.mainCanvas {
	width: 100%;
	height: 100%;
}

.pointerNone {
	pointer-events: none;
}

.draggable {
	cursor: grab;
}
// .draggable:hover{
// 	box-shadow: 5;
// }

.draggable.dragging,
.dragging {
	cursor: move;
}

.selectPoint,
.selectPoint * {
	cursor: crosshair; // higher prio than .draggable
}

.draggable.pathPoint:hover {
	stroke: var(--bs-cyan);
	stroke-dasharray: 3;
	cursor: grab;
}

.eraseCursor,
.eraseCursor * {
	cursor:
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath d='M18.29 21.176H24V24h-8.115ZM3.26 24 .707 21Q.015 20.188 0 18.988q-.015-1.2.677-2.047L13.9.847Q14.592 0 15.6 0q1.007 0 1.699.812l5.98 7.023q.692.812.692 2.012t-.691 2.012L13.179 24Zm8.897-2.824 9.438-11.364-5.952-6.988L2.36 18.918l1.923 2.258zm-.18-8.47z' style='stroke-width:.0325699' fill='%23000'/%3E%3C/svg%3E")
			0 24,
		auto;
}

[data-bs-theme="dark"] {
	.eraseCursor,
	.eraseCursor * {
		cursor:
			url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath d='M18.29 21.176H24V24h-8.115ZM3.26 24 .707 21Q.015 20.188 0 18.988q-.015-1.2.677-2.047L13.9.847Q14.592 0 15.6 0q1.007 0 1.699.812l5.98 7.023q.692.812.692 2.012t-.691 2.012L13.179 24Zm8.897-2.824 9.438-11.364-5.952-6.988L2.36 18.918l1.923 2.258zm-.18-8.47z' style='stroke-width:.0325699' fill='%23fff'/%3E%3C/svg%3E")
				0 24,
			auto;
	}
}
