#properties{
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 400px;
	min-width: 200px;
}

#gridInfo{
	color: var(--bs-info-text-emphasis);
	background-color: var(--bs-info-bg-subtle);
}