// Styles for the top floating buttons / mode buttons

.toolbarButton {
	@extend .user-select-none;
	display: block;
	padding: 0px;
	margin: 0px;
	height: 1em;
	border-radius: 20px;
	text-align: center;
	text-decoration: none;
	color: var(--bs-emphasis-color);
	font-size: 32px !important;
	text-shadow: 2px 2px 2px #888;
}

.toolbarButton:hover,
.toolbarButton.selected {
	text-shadow: 2px 2px 4px #888;
}

.toolbarButton.selected {
	text-decoration: underline;
}
